
$gc-font-weight-light: 100;
$gc-font-weight-standard: 400;
$gc-font-weight-semibold: 500;
$gc-font-weight-bold: 600;

$gc-font-size-small: 0.8rem;
$gc-font-size-standard: 1.0rem;
$gc-font-size-medium: 1.2rem;
$gc-font-size-large: 2.8rem;
$gc-font-size-xlarge: 2.5rem;